In [31]:
import pandas as pd

df = pd.read_csv('test2 2015.csv')

df.head()

,RptNo,RptName,StatCourseNo,StatCourseName,DataDate,PlaceNo,PlaceName,PeriodNo,PeriodName,Complex1,...,Complex5,Complex5Name,DeriveNo,DeriveExplain,FValue,SValue,RptDeptNo,RptDeptName,CreateTime,ModifyTime
0,10450-03-05-2,臺中市高級中等學校學生裸眼視力檢查-進修部(學校),1045003a003,高級中等學校學生裸眼視力檢查-學生數(單位:人),2015/8/1 上午 12:00:00,10000066000,臺中市,S,學年,230310000201,...,9900100001,男,0,NaN,2761,NaN,387040000E,教育局,2016/12/16 上午 09:40:38,NaN
1,10450-03-05-2,臺中市高級中等學校學生裸眼視力檢查-進修部(學校),1045003a003,高級中等學校學生裸眼視力檢查-學生數(單位:人),2015/8/1 上午 12:00:00,10000066000,臺中市,S,學年,230310000201,...,9900100001,男,0,NaN,2490,NaN,387040000E,教育局,2016/12/16 上午 09:40:38,NaN
2,10450-03-05-2,臺中市高級中等學校學生裸眼視力檢查-進修部(學校),1045003a003,高級中等學校學生裸眼視力檢查-學生數(單位:人),2015/8/1 上午 12:00:00,10000066000,臺中市,S,學年,230310000201,...,9900100001,男,0,NaN,1287,NaN,387040000E,教育局,2016/12/16 上午 09:40:38,NaN
3,10450-03-05-2,臺中市高級中等學校學生裸眼視力檢查-進修部(學校),1045003a003,高級中等學校學生裸眼視力檢查-學生數(單位:人),2015/8/1 上午 12:00:00,10000066000,臺中市,S,學年,230310000201,...,9900100001,男,0,NaN,1112,NaN,387040000E,教育局,2016/12/16 上午 09:40:38,NaN
4,10450-03-05-2,臺中市高級中等學校學生裸眼視力檢查-進修部(學校),1045003a003,高級中等學校學生裸眼視力檢查-學生數(單位:人),2015/8/1 上午 12:00:00,10000066000,臺中市,S,學年,230310000201,...,9900100001,男,0,NaN,2417,NaN,387040000E,教育局,2016/12/16 上午 09:40:38,NaN

In [16]:
temp = df[['Complex4Name', 'FValue']]
temp

       Complex4Name  FValue
0    高級中等學校_普通科_一年級    2761
1    高級中等學校_普通科_一年級    2490
2    高級中等學校_普通科_一年級    1287
3    高級中等學校_普通科_一年級    1112
4    高級中等學校_普通科_一年級    2417
..              ...     ...
235       進修高中職_延修生       0
236       進修高中職_延修生       0
237       進修高中職_延修生       0
238       進修高中職_延修生       0
239       進修高中職_延修生       0

[240 rows x 2 columns]

In [17]:
Type = temp.groupby(['Complex4Name'])['FValue'].sum().reset_index()

In [18]:
Type['year'] = 2015
Type

      Complex4Name  FValue  year
0           實技_一年級    2442  2015
1           實技_三年級    1884  2015
2           實技_二年級    1773  2015
3           實技_延修生       0  2015
4           綜高_一年級    1211  2015
5           綜高_三年級    3161  2015
6           綜高_二年級    1274  2015
7           綜高_延修生       0  2015
8        進修高中職_一年級    4426  2015
9        進修高中職_三年級    4471  2015
10       進修高中職_二年級    4250  2015
11       進修高中職_延修生       0  2015
12  高級中等學校_普通科_一年級   24408  2015
13  高級中等學校_普通科_三年級   24300  2015
14  高級中等學校_普通科_二年級   22937  2015
15  高級中等學校_普通科_延修生       0  2015
16          高職_一年級   35167  2015
17          高職_三年級   32427  2015
18          高職_二年級   33220  2015
19          高職_延修生       0  2015

In [19]:
df2016 = pd.read_csv('test2 2016.csv')
df2017 = pd.read_csv('test2 2017.csv')

In [20]:
new = df2016[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
new['year'] = 2016
new

      Complex4Name  FValue  year
0           實技_一年級    2604  2016
1           實技_三年級    1743  2016
2           實技_二年級    2120  2016
3           實技_延修生       0  2016
4           綜高_一年級    1294  2016
5           綜高_三年級    1262  2016
6           綜高_二年級    1259  2016
7           綜高_延修生       0  2016
8        進修高中職_一年級    4128  2016
9        進修高中職_三年級    3920  2016
10       進修高中職_二年級    3894  2016
11       進修高中職_延修生       0  2016
12  高級中等學校_普通科_一年級   24428  2016
13  高級中等學校_普通科_三年級   22904  2016
14  高級中等學校_普通科_二年級   24019  2016
15  高級中等學校_普通科_延修生       0  2016
16          高職_一年級   33872  2016
17          高職_三年級   32756  2016
18          高職_二年級   33251  2016
19          高職_延修生       0  2016

In [21]:
new = df2017[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
new['year'] = 2017
new

      Complex4Name  FValue  year
0           實技_一年級    2490  2017
1           實技_三年級    2011  2017
2           實技_二年級    2279  2017
3           實技_延修生       0  2017
4           綜高_一年級    1280  2017
5           綜高_三年級    1272  2017
6           綜高_二年級    1276  2017
7           綜高_延修生       0  2017
8        進修高中職_一年級    3370  2017
9        進修高中職_三年級    3631  2017
10       進修高中職_二年級    3570  2017
11       進修高中職_延修生       0  2017
12  高級中等學校_普通科_一年級   23451  2017
13  高級中等學校_普通科_三年級   24008  2017
14  高級中等學校_普通科_二年級   24093  2017
15  高級中等學校_普通科_延修生       0  2017
16          高職_一年級   27930  2017
17          高職_三年級   32762  2017
18          高職_二年級   32015  2017
19          高職_延修生       0  2017

In [22]:
frames = [Type, new]

result = pd.concat(frames)
result

      Complex4Name  FValue  year
0           實技_一年級    2442  2015
1           實技_三年級    1884  2015
2           實技_二年級    1773  2015
3           實技_延修生       0  2015
4           綜高_一年級    1211  2015
5           綜高_三年級    3161  2015
6           綜高_二年級    1274  2015
7           綜高_延修生       0  2015
8        進修高中職_一年級    4426  2015
9        進修高中職_三年級    4471  2015
10       進修高中職_二年級    4250  2015
11       進修高中職_延修生       0  2015
12  高級中等學校_普通科_一年級   24408  2015
13  高級中等學校_普通科_三年級   24300  2015
14  高級中等學校_普通科_二年級   22937  2015
15  高級中等學校_普通科_延修生       0  2015
16          高職_一年級   35167  2015
17          高職_三年級   32427  2015
18          高職_二年級   33220  2015
19          高職_延修生       0  2015
0           實技_一年級    2490  2017
1           實技_三年級    2011  2017
2           實技_二年級    2279  2017
3           實技_延修生       0  2017
4           綜高_一年級    1280  2017
5           綜高_三年級    1272  2017
6           綜高_二年級    1276  2017
7           綜高_延修生       0  2017
8        進修高中職_一年級    3370  2017
9        進修高中職_三年級    3631  2017
10       進修高中職_二年級    3570  2017
11       進修高中職_延修生       0  2017
12  高級中等學校_普通科_一年級   23451  2017
13  高級中等學校_普通科_三年級   24008  2017
14  高級中等學校_普通科_二年級   24093  2017
15  高級中等學校_普通科_延修生       0  2017
16          高職_一年級   27930  2017
17          高職_三年級   32762  2017
18          高職_二年級   32015  2017
19          高職_延修生       0  2017

### 設2016的變數=new

In [29]:
new = df2016[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
new['year'] = 2016
new

      Complex4Name  FValue  year
0           實技_一年級    2604  2016
1           實技_三年級    1743  2016
2           實技_二年級    2120  2016
3           實技_延修生       0  2016
4           綜高_一年級    1294  2016
5           綜高_三年級    1262  2016
6           綜高_二年級    1259  2016
7           綜高_延修生       0  2016
8        進修高中職_一年級    4128  2016
9        進修高中職_三年級    3920  2016
10       進修高中職_二年級    3894  2016
11       進修高中職_延修生       0  2016
12  高級中等學校_普通科_一年級   24428  2016
13  高級中等學校_普通科_三年級   22904  2016
14  高級中等學校_普通科_二年級   24019  2016
15  高級中等學校_普通科_延修生       0  2016
16          高職_一年級   33872  2016
17          高職_三年級   32756  2016
18          高職_二年級   33251  2016
19          高職_延修生       0  2016

### 設2017的變數=old

In [28]:
old = df2017[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
old['year'] = 2017
old

      Complex4Name  FValue  year
0           實技_一年級    2490  2017
1           實技_三年級    2011  2017
2           實技_二年級    2279  2017
3           實技_延修生       0  2017
4           綜高_一年級    1280  2017
5           綜高_三年級    1272  2017
6           綜高_二年級    1276  2017
7           綜高_延修生       0  2017
8        進修高中職_一年級    3370  2017
9        進修高中職_三年級    3631  2017
10       進修高中職_二年級    3570  2017
11       進修高中職_延修生       0  2017
12  高級中等學校_普通科_一年級   23451  2017
13  高級中等學校_普通科_三年級   24008  2017
14  高級中等學校_普通科_二年級   24093  2017
15  高級中等學校_普通科_延修生       0  2017
16          高職_一年級   27930  2017
17          高職_三年級   32762  2017
18          高職_二年級   32015  2017
19          高職_延修生       0  2017

### 匯出2015~2017

In [30]:
frames = [Type, new, old]

result = pd.concat(frames)
result

      Complex4Name  FValue  year
0           實技_一年級    2442  2015
1           實技_三年級    1884  2015
2           實技_二年級    1773  2015
3           實技_延修生       0  2015
4           綜高_一年級    1211  2015
5           綜高_三年級    3161  2015
6           綜高_二年級    1274  2015
7           綜高_延修生       0  2015
8        進修高中職_一年級    4426  2015
9        進修高中職_三年級    4471  2015
10       進修高中職_二年級    4250  2015
11       進修高中職_延修生       0  2015
12  高級中等學校_普通科_一年級   24408  2015
13  高級中等學校_普通科_三年級   24300  2015
14  高級中等學校_普通科_二年級   22937  2015
15  高級中等學校_普通科_延修生       0  2015
16          高職_一年級   35167  2015
17          高職_三年級   32427  2015
18          高職_二年級   33220  2015
19          高職_延修生       0  2015
0           實技_一年級    2604  2016
1           實技_三年級    1743  2016
2           實技_二年級    2120  2016
3           實技_延修生       0  2016
4           綜高_一年級    1294  2016
5           綜高_三年級    1262  2016
6           綜高_二年級    1259  2016
7           綜高_延修生       0  2016
8        進修高中職_一年級    4128  2016
9        進修高中職_三年級    3920  2016
10       進修高中職_二年級    3894  2016
11       進修高中職_延修生       0  2016
12  高級中等學校_普通科_一年級   24428  2016
13  高級中等學校_普通科_三年級   22904  2016
14  高級中等學校_普通科_二年級   24019  2016
15  高級中等學校_普通科_延修生       0  2016
16          高職_一年級   33872  2016
17          高職_三年級   32756  2016
18          高職_二年級   33251  2016
19          高職_延修生       0  2016
0           實技_一年級    2490  2017
1           實技_三年級    2011  2017
2           實技_二年級    2279  2017
3           實技_延修生       0  2017
4           綜高_一年級    1280  2017
5           綜高_三年級    1272  2017
6           綜高_二年級    1276  2017
7           綜高_延修生       0  2017
8        進修高中職_一年級    3370  2017
9        進修高中職_三年級    3631  2017
10       進修高中職_二年級    3570  2017
11       進修高中職_延修生       0  2017
12  高級中等學校_普通科_一年級   23451  2017
13  高級中等學校_普通科_三年級   24008  2017
14  高級中等學校_普通科_二年級   24093  2017
15  高級中等學校_普通科_延修生       0  2017
16          高職_一年級   27930  2017
17          高職_三年級   32762  2017
18          高職_二年級   32015  2017
19          高職_延修生       0  2017